/* img{
    width: auto;
} */
div#carousel{
    display: flex;
    flex-direction: row;
    width: 100%;
    width: 90vw;
    height: 30vh;
    border: 1px solid black;
    padding: 0.5%;
    margin: 0 0 3% 3% ;

}


#right, #left, .imgArrow {
    width: 8vw;
    height: 30vh;
    display: flex;
}

#c3, #c4, #c5{
display: none;
}
/* #c1, #c2,#c6{

} */
#carouselContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 71vw;
    height: 29vh;
    padding: 0.5%;
    margin: 0 0 3% 3% ;

}
.cCenter{
    width: 47vw;
    height: 29vh;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}
.cLeft, .cRight{
    /* display:none; */
    width: 12vw;
    height: 29vh;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}
.cLeft{
order: 1;
}
.cRight{
order: 3;
}
.cCenter{
    order: 2;

}
/* .imgCar{
    max-height: 15Vh;
    max-width: 15vw;
} */